<h1>Hey</h1>

<canvas id="graphA" width="1000" height="100"></canvas><br />
<canvas id="graphB" width="1000" height="100"></canvas><br />
<canvas id="graphC" width="1000" height="100"></canvas>

<button id="start">Start</button>
<button id="stop">Stop</button>
<h1>Time: <span id="time">0000</span></h1>
<div id="goto">
  <input id="goto" type="text" placeholder="goto"></input>
  <button id="goto">Goto</button>
</div
